USE [master]
GO
/****** Object:  Database [QLKS]    Script Date: 5/2/2024 9:28:08 AM ******/
CREATE DATABASE [QLKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLKS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLKS_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS]
GO
/****** Object:  Table [dbo].[CT_KHACHTHUE]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_KHACHTHUE](
	[MAKH] [nchar](10) NOT NULL,
	[ID_CTPT] [int] NOT NULL,
 CONSTRAINT [PK_CT_KHACHTHUE] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[ID_CTPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_KHUYENMAI]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_KHUYENMAI](
	[ID_HANG] [int] NOT NULL,
	[ID_KHUYENMAI] [int] NOT NULL,
	[GIATRI] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_CT_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[ID_HANG] ASC,
	[ID_KHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUDAT]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUDAT](
	[SOLUONG] [int] NOT NULL,
	[ID_HANG] [int] NOT NULL,
	[ID_PHIEUDAT] [int] NOT NULL,
	[GIA] [bigint] NULL,
 CONSTRAINT [PK_CT_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[ID_HANG] ASC,
	[ID_PHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUTHUE]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUTHUE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHANPHONG] [datetime] NOT NULL,
	[ID_PHONG] [nchar](3) NOT NULL,
	[ID_PHIEUTHUE] [int] NOT NULL,
	[NGAYTRAPHONG] [datetime] NULL,
	[GIA] [bigint] NULL,
	[TRANGTHAITHANHTOAN] [bit] NOT NULL,
	[SOHOADON] [nchar](10) NULL,
 CONSTRAINT [PK_CT_PHIEUTHUE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_CT_PHIEUTHUE] UNIQUE NONCLUSTERED 
(
	[ID_PHIEUTHUE] ASC,
	[ID_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](255) NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENDICHVU] UNIQUE NONCLUSTERED 
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIADICHVU]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIADICHVU](
	[ID_DICHVU] [int] NOT NULL,
	[NGAY] [date] NOT NULL,
	[GIA] [bigint] NULL,
 CONSTRAINT [PK_GIADICHVU] PRIMARY KEY CLUSTERED 
(
	[ID_DICHVU] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAHANG]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAHANG](
	[ID_HANG] [int] NOT NULL,
	[NGAY] [date] NOT NULL,
	[GIA] [bigint] NOT NULL,
 CONSTRAINT [PK_GIAHANG] PRIMARY KEY CLUSTERED 
(
	[ID_HANG] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENHANG] [nvarchar](30) NOT NULL,
	[MOTA] [text] NULL,
	[ANH] [varchar](100) NOT NULL,
	[ID_LOAIPHONG] [nchar](5) NOT NULL,
	[ID_KIEUPHONG] [nchar](5) NOT NULL,
 CONSTRAINT [PK_HANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_HANG] UNIQUE NONCLUSTERED 
(
	[ID_KIEUPHONG] ASC,
	[ID_LOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENHANG] UNIQUE NONCLUSTERED 
(
	[TENHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHOADON] [nchar](10) NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[ID_NHANVIEN] [nchar](10) NOT NULL,
	[ID_PHIEUTHUE] [int] NOT NULL,
	[MASOTHUE] [nvarchar](20) NULL,
	[HOTENNGUOITHANHTOAN] [nvarchar](50) NOT NULL,
	[SOTIEN] [bigint] NOT NULL,
 CONSTRAINT [PK_THANHTOAN] PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOANTIEN]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOANTIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIENHOAN] [bigint] NULL,
	[MAPHIEUDAT] [int] NULL,
	[NGAYHUY] [date] NULL,
	[MANHANVIEN] [nchar](10) NULL,
 CONSTRAINT [PK_HOANTIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[CMND] [nvarchar](15) NULL,
	[TENKH] [nvarchar](30) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[MASOTHUE] [nchar](10) NULL,
	[MATAIKHOAN] [varchar](100) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[NGAYBATDAU] [date] NOT NULL,
	[NGAYKETTHUC] [date] NOT NULL,
 CONSTRAINT [PK_UUDAI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KIEUPHONG]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIEUPHONG](
	[MAKP] [nchar](5) NOT NULL,
	[TENKIEUPHONG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KIEUPHONG] PRIMARY KEY CLUSTERED 
(
	[MAKP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENKIEUPHONG] UNIQUE NONCLUSTERED 
(
	[TENKIEUPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALP] [nchar](5) NOT NULL,
	[TENLOAIPHONG] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENLOAIPHONG] UNIQUE NONCLUSTERED 
(
	[TENLOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [nchar](10) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[ID_PHONG_BAN] [nchar](10) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TEN] UNIQUE NONCLUSTERED 
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [nchar](10) NOT NULL,
	[NGAYDAT] [date] NOT NULL,
	[NGAYNHANPHONG] [date] NOT NULL,
	[NGAYTRAPHONG] [date] NULL,
	[SOTIENDATCOC] [bigint] NULL,
	[TRANGTHAI] [int] NOT NULL,
	[NHANPHONGTRE] [bit] NULL,
 CONSTRAINT [PK_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PHIEUDAT] [int] NOT NULL,
	[ID_NHANVIEN] [nchar](10) NOT NULL,
	[TONGTIEN] [bigint] NULL,
	[TONGGIAM] [bigint] NULL,
	[TRIGIAGIAM] [int] NULL,
 CONSTRAINT [PK_THUEPHONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_PHIEUDAT] UNIQUE NONCLUSTERED 
(
	[ID_PHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [nchar](3) NOT NULL,
	[ID_HANG] [int] NOT NULL,
	[MOTA] [nvarchar](200) NOT NULL,
	[ID_TRANGTHAI] [int] NOT NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [nchar](10) NOT NULL,
	[TENPHONGBAN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLENAME] [varchar](30) NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ROLE] UNIQUE NONCLUSTERED 
(
	[ROLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUDUNG]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUDUNG](
	[ID_CTPT] [int] NOT NULL,
	[ID_DICHVU] [int] NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [bigint] NOT NULL,
	[TRANGTHAITHANHTOAN] [bit] NOT NULL,
	[SOHOADON] [nchar](10) NULL,
 CONSTRAINT [PK_SUDUNG] PRIMARY KEY CLUSTERED 
(
	[ID_CTPT] ASC,
	[ID_DICHVU] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIPHONG]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIPHONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TRANGTHAIPHONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TRANGTHAI] UNIQUE NONCLUSTERED 
(
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [varchar](150) NOT NULL,
	[OTP] [varchar](8) NULL,
	[HIEULUC] [datetime] NULL,
	[ROLE_ID] [int] NULL,
	[MAKH] [nchar](10) NULL,
	[ID_NHANVIEN] [nchar](10) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GIADICHVU] ADD  CONSTRAINT [DF_GIADICHVU_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[GIAHANG] ADD  CONSTRAINT [DF_GIAHANG_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_THANHTOAN_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_SOTIEN]  DEFAULT ((0)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[PHIEUDAT] ADD  CONSTRAINT [DF_PHIEUDAT_NGAYDAT]  DEFAULT (getdate()) FOR [NGAYDAT]
GO
ALTER TABLE [dbo].[PHIEUDAT] ADD  CONSTRAINT [DF_PHIEUDAT_SOTIENDATCOC]  DEFAULT ((0)) FOR [SOTIENDATCOC]
GO
ALTER TABLE [dbo].[SUDUNG] ADD  CONSTRAINT [DF_SUDUNGDICHVU_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[CT_KHACHTHUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHACHTHUE_CT_PHIEUTHUE] FOREIGN KEY([ID_CTPT])
REFERENCES [dbo].[CT_PHIEUTHUE] ([ID])
GO
ALTER TABLE [dbo].[CT_KHACHTHUE] CHECK CONSTRAINT [FK_CT_KHACHTHUE_CT_PHIEUTHUE]
GO
ALTER TABLE [dbo].[CT_KHACHTHUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHACHTHUE_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[CT_KHACHTHUE] CHECK CONSTRAINT [FK_CT_KHACHTHUE_KHACHHANG]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHUYENMAI_HANG] FOREIGN KEY([ID_HANG])
REFERENCES [dbo].[HANG] ([ID])
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [FK_CT_KHUYENMAI_HANG]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHUYENMAI_KHUYENMAI] FOREIGN KEY([ID_KHUYENMAI])
REFERENCES [dbo].[KHUYENMAI] ([ID])
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [FK_CT_KHUYENMAI_KHUYENMAI]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_HANG] FOREIGN KEY([ID_HANG])
REFERENCES [dbo].[HANG] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_DATPHONG_HANG]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_PHIEUDAT1] FOREIGN KEY([ID_PHIEUDAT])
REFERENCES [dbo].[PHIEUDAT] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_DATPHONG_PHIEUDAT1]
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTHUE_HOADON] FOREIGN KEY([SOHOADON])
REFERENCES [dbo].[HOADON] ([SOHOADON])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE] CHECK CONSTRAINT [FK_CT_PHIEUTHUE_HOADON]
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTHUE_PHIEUTHUE] FOREIGN KEY([ID_PHIEUTHUE])
REFERENCES [dbo].[PHIEUTHUE] ([ID])
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE] CHECK CONSTRAINT [FK_CT_PHIEUTHUE_PHIEUTHUE]
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTHUE_PHONG] FOREIGN KEY([ID_PHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE] CHECK CONSTRAINT [FK_CT_PHIEUTHUE_PHONG]
GO
ALTER TABLE [dbo].[GIADICHVU]  WITH CHECK ADD  CONSTRAINT [FK_GIADICHVU_DICHVU] FOREIGN KEY([ID_DICHVU])
REFERENCES [dbo].[DICHVU] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GIADICHVU] CHECK CONSTRAINT [FK_GIADICHVU_DICHVU]
GO
ALTER TABLE [dbo].[GIAHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIAHANG_HANG] FOREIGN KEY([ID_HANG])
REFERENCES [dbo].[HANG] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAHANG] CHECK CONSTRAINT [FK_GIAHANG_HANG]
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_KIEUPHONG] FOREIGN KEY([ID_KIEUPHONG])
REFERENCES [dbo].[KIEUPHONG] ([MAKP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_KIEUPHONG]
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_LOAIPHONG] FOREIGN KEY([ID_LOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_LOAIPHONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIEUTHUE] FOREIGN KEY([ID_PHIEUTHUE])
REFERENCES [dbo].[PHIEUTHUE] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIEUTHUE]
GO
ALTER TABLE [dbo].[HOANTIEN]  WITH CHECK ADD  CONSTRAINT [FK_HOANTIEN_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOANTIEN] CHECK CONSTRAINT [FK_HOANTIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[HOANTIEN]  WITH CHECK ADD  CONSTRAINT [FK_HOANTIEN_PHIEUDAT] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PHIEUDAT] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOANTIEN] CHECK CONSTRAINT [FK_HOANTIEN_PHIEUDAT]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([ID_PHONG_BAN])
REFERENCES [dbo].[PHONGBAN] ([MAPB])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_PHIEUDAT] FOREIGN KEY([ID_PHIEUDAT])
REFERENCES [dbo].[PHIEUDAT] ([ID])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_PHIEUDAT]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_THUEPHONG_NHANVIEN] FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_THUEPHONG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_HANG] FOREIGN KEY([ID_HANG])
REFERENCES [dbo].[HANG] ([ID])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_HANG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_TRANGTHAIPHONG] FOREIGN KEY([ID_TRANGTHAI])
REFERENCES [dbo].[TRANGTHAIPHONG] ([ID])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_TRANGTHAIPHONG]
GO
ALTER TABLE [dbo].[SUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNG_CT_PHIEUTHUE] FOREIGN KEY([ID_CTPT])
REFERENCES [dbo].[CT_PHIEUTHUE] ([ID])
GO
ALTER TABLE [dbo].[SUDUNG] CHECK CONSTRAINT [FK_SUDUNG_CT_PHIEUTHUE]
GO
ALTER TABLE [dbo].[SUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNG_DICHVU] FOREIGN KEY([ID_DICHVU])
REFERENCES [dbo].[DICHVU] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUDUNG] CHECK CONSTRAINT [FK_SUDUNG_DICHVU]
GO
ALTER TABLE [dbo].[SUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNG_HOADON] FOREIGN KEY([SOHOADON])
REFERENCES [dbo].[HOADON] ([SOHOADON])
GO
ALTER TABLE [dbo].[SUDUNG] CHECK CONSTRAINT [FK_SUDUNG_HOADON]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_KHACHHANG]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_NHANVIEN] FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_NHANVIEN]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_ROLE]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPNHATPHONG]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAPNHATPHONG]
      @MAPHONGCU nvarchar(10),
	  @ID_HANG int,
	  @MOTA nvarchar(200),
	  @TRANGTHAI int,
	  @MAPHONGMOI nvarchar(10)
AS
BEGIN
      SET NOCOUNT ON;
 
      DECLARE @Exists INT
 
      IF EXISTS(SELECT 1
                        FROM dbo.PHONG
                        WHERE PHONG.MAPHONG=@MAPHONGCU)
      BEGIN
			UPDATE PHONG
			SET PHONG.MAPHONG=@MAPHONGMOI,PHONG.ID_HANG=@ID_HANG,PHONG.MOTA=@MOTA,PHONG.ID_TRANGTHAI=@TRANGTHAI
			WHERE PHONG.MAPHONG=@MAPHONGCU
      END
      ELSE
      BEGIN
		   return 0
      END

END



GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_GIA_HANG_HIEN_TAI]    Script Date: 5/2/2024 9:28:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LAY_GIA_HANG_HIEN_TAI]
	  @ID_HANG int
AS
BEGIN
      SET NOCOUNT ON;
 
      DECLARE @Exists INT
 
      IF EXISTS(SELECT 1
                        FROM dbo.GIAHANG
                        WHERE GIAHANG.ID_HANG=@ID_HANG)
      BEGIN
			Select top(1) GIA
			FROM GIAHANG
			Where GIAHANG.ID_HANG=@ID_HANG
			Order by NGAY DESC
      END
      ELSE
      BEGIN
		   return 0
      END

END




GO
USE [master]
GO
